<mat-toolbar color="default">
  <mat-form-field>
    <mat-select float="never" [(ngModel)]="nodeType" (selectionChange)="onChange()">
      <mat-option *ngFor="let nodeType of nodeTypes | enumToArray" [value]="nodeType">
        {{nodeType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="onAdd()" color="primary"><mat-icon>add</mat-icon></button>
  <button mat-button (click)="onRefresh()" color="primary"><mat-icon>refresh</mat-icon></button>
</mat-toolbar>

<div class="table-container">

  <app-generic-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    [firstSticky]="true"
    [lastSticky]="true">
  </app-generic-table>

</div>

<mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
