<h2 mat-dialog-title>{{ attribute.Name }}</h2>
<mat-dialog-content>
  <form #form="ngForm" [formGroup]="attributeForm" (ngSubmit)="form.valid && onSave()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="Name" required>
      <mat-error *ngIf="attributeForm.get('Name').hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="attributeForm.get('Name').hasError('minlength')">
        Name has a minimum length of 3
      </mat-error>
      <mat-error *ngIf="attributeForm.get('Name').hasError('maxlength')">
        Name has a maximum length of 160
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="DataType" formControlName="DataType">
        <mat-option *ngFor="let dataType of dataTypes | enumToArray" [value]="dataType">
          {{dataType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mat-form-field">
      <mat-checkbox formControlName="Required">Required</mat-checkbox>
    </div>
    <div class="mat-form-field">
      <mat-checkbox formControlName="MultipleAllowed">MultipleAllowed</mat-checkbox>
    </div>
    <!-- <mat-form-field>
      <mat-select placeholder="AllowedNodeTypeIds" formControlName="AllowedNodeTypeIds" multiple>
        <mat-option *ngFor="let nodeType of nodeTypes | enumToArray" [value]="nodeType">
          {{nodeType}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="dialog-tab-actions">
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-raised-button color="primary">Save</button>
    </div>
  </form>
</mat-dialog-content>
