<h2 mat-dialog-title>Relation</h2>
<mat-dialog-content>
  <form #form="ngForm" [formGroup]="relationForm">
    <mat-form-field>
      <mat-select placeholder="StartNode" formControlName="StartNodeId">
        <mat-option *ngFor="let node of nodes" [value]="node.Id">
          {{node.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="EndNode" formControlName="EndNodeId">
        <mat-option *ngFor="let node of nodes" [value]="node.Id">
          {{node.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="RelationTypeId" formControlName="RelationTypeId">
        <mat-option *ngFor="let relationType of relationTypes" [value]="relationType.Id">
          {{relationType.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="Description">
    </mat-form-field>
  </form>
  <div class="dialog-tab-actions">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="onSave()" color="primary">Save</button>
  </div>
</mat-dialog-content>
