<h2 mat-dialog-title>{{ nodeType.Name }}</h2>
<mat-dialog-content>
  <form #form="ngForm" [formGroup]="nodeTypeForm" (ngSubmit)="form.valid && onSave()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="Name" required>
      <mat-error *ngIf="nodeTypeForm.get('Name').hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="nodeTypeForm.get('Name').hasError('minlength')">
        Name has a minimum length of 3
      </mat-error>
      <mat-error *ngIf="nodeTypeForm.get('Name').hasError('maxlength')">
        Name has a maximum length of 160
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="Description"></textarea>
    </mat-form-field>
    <div class="mat-form-field">
      <div class="color-preview" [style.background]="colorCode" (click)="showColorPicker=!showColorPicker" [style.color]="colorCode ? 'white' : 'black'">
        {{ colorCode || 'Pick Color' }}
      </div>
      <span [(colorPicker)]="colorCode" [cpAlphaChannel]="'disabled'" [cpDisableInput]="false" [cpToggle]="showColorPicker"></span>
    </div>
    <div class="dialog-tab-actions">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </div>
  </form>
</mat-dialog-content>
